
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
  }

.tempContainer{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 0px 15px rgba(113, 115, 119, 0.6);
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
}

.Temperature-icon{
    font-size: 35px;
    color: #6dee;
}

h1{
    color: #6dee;
    letter-spacing: 1.2px;
    font-size: 20px;
}

#celsius, #fahrenheit, #kelvin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px #6dee;
    border-top-left-radius : 25px;
    font-size: 18px;
    text-align: right;
    cursor: pointer;
    color: #6dee;
}
input::placeholder {
    color: #6dee;
  }

.icon{
    flex: 1;
    height: 65px;
    line-height: 60px;
    padding: 0 5px;
    text-align: center;
    font-size: 25px;
    background: #6dee;
    border-radius: 0 8px 8px 0;
}


.btn{
    margin-top: 25px;
    text-align: center;
}


.btn button{
    border: none;
    outline: none;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    background : #6dee;
    transition: 0.3s;
}

.button button:hover{
    background: #000;
    color: #6dee;
}